## 1) Initialization

Strings are immutable sequences of characters.

Create using:

In [103]:
s1 = 'Python'
s2 = "Data Science"
s3 = """Line1
Line2"""

print(s1)
print(s2)
print(s3)

Python
Data Science
Line1
Line2

## 2) Operators on strings
+ concatenation, * repetition
in membership
comparison uses lexicographic order

In [104]:
print("Py" + "thon")      
print("ha" * 3)           
print("a" in "cat")       
print("abc" < "abd")

Python
hahaha
True
True

In [105]:
l =["abhinesh", "raja"]
"abhinesh" in l

True

## 3) Indexing (0-based)

In [106]:
s = "Python"
print(s[0])   
print(s[-1])  

print(s[len(s)-1])

P
n
n

## 4) Slicing
Form: s[start : stop : step] (stop excluded)

In [107]:
s = "Python"
print(s[2:4])    
print(s[1:3])     
print(s[3:])     
print(s[5:1:-1])

th
yt
hon
noht

## 5) split()

Splits into list by delimiter (default = whitespace)

In [108]:
print("one two three".split())
print("2026-02-10".split("-"))

['one', 'two', 'three']
['2026', '02', '10']

## 1) Initialization

Lists are mutable, ordered collections.

In [109]:
L = [10, 20, 30]
mixed = [1, "A", 3.5, True]
empty = []
print(L)
print(mixed)
print(empty)

[10, 20, 30]
[1, 'A', 3.5, True]
[]

## 2) Common methods
append(x), extend(iterable), insert(i,x)
remove(x), pop(i), clear()
index(x), count(x)
sort(), reverse()

In [110]:
L = [3, 1, 2]
L.append(5)         
print(L)
L.sort()
print(L)
L.pop(2)
print(L)
L.remove(5)
print(L)
L.clear()
print(L)

[3, 1, 2, 5]
[1, 2, 3, 5]
[1, 2, 5]
[1, 2]
[]

## 3) Operation
Concatenation, repetition, membership
indexing/slicing same as strings

In [111]:
print([1,2] + [3,4])      
print([0]*4)              
print(2 in [1,2,3])

[1, 2, 3, 4]
[0, 0, 0, 0]
True

## 4) List comprehension

Simple way to build list

In [112]:
squares = [x*x for x in range(1,6)]
evens = [x for x in range(10) if x%2==0]
pairs = [(x,y) for x in [1,2] for y in [3,4,6]]
print(squares)
print(evens)
print(pairs)

[1, 4, 9, 16, 25]
[0, 2, 4, 6, 8]
[(1, 3), (1, 4), (1, 6), (2, 3), (2, 4), (2, 6)]

## 5) Nesting
List of lists (2D structure).

In [113]:
mat = [[1,2,3],[4,5,6]]
print(mat[1][2])

6

### Touple

## 1) Initialization
Tuples are immutable ordered collections.

In [114]:
t1 = (1,2,3)
t2 = 1,2,3
t3 = (5,)          

print(t1)
print(t2)
print(t3)

(1, 2, 3)
(1, 2, 3)
(5,)

## 2) Operations
indexing/slicing, +, *, in

In [115]:
print((1,2,2,3).count(2)) 
print((1,2,2,3).index(2))

2
1

## 4) Nesting
Nesting = inside another
# 
loop inside a loop

In [116]:
T = ((1,2),(3,4))
print(T[1][0])

3

## 5) List vs Tuple

| Feature  | **List**           | **Tuple**            |
| -------- | ------------------ | -------------------- |
| Brackets | `[]`               | `()`                 |
| Mutable  | ✅ Yes (can change) | ❌ No (cannot change) |
| Speed    | Slower             | Faster               |
| Memory   | Uses more          | Uses less            |
| Methods  | More methods       | Fewer methods        |

## Sets & Dictionaries
#
A) Sets
1) Initialization
Sets are unordered, unique elements.

In [117]:
S = {1,2,3}
S2 = set([1,2,2,3])
empty_set = set
print(S)
print(S2)
print(empty_set)

{1, 2, 3}
{1, 2, 3}
<class 'set'>

## 2) Methods / Operations
add, remove, discard, pop
union(|), intersection(&), difference(-), symmetric_difference(^)

In [118]:
A = {1,2,3}
B = {3,4,5}
print(A)
print(B)
print(A | B)   
print(A & B)   
print(A - B)

{1, 2, 3}
{3, 4, 5}
{1, 2, 3, 4, 5}
{3}
{1, 2}

## B) Dictionaries
#
1) Initialization
Key–value mapping. Keys must be hashable (immutable types).

In [119]:
d = {"name":"abhi", "age":20}
d2 = dict(a=1, b=2)
print(d)
print(d2)

{'name': 'abhi', 'age': 20}
{'a': 1, 'b': 2}

## 2) Common operations/methods
#
Access: d[key], safe access: d.get(key, default)
Insert/update: d[key] = value, update()
Remove: pop(key), popitem(), del d[key]
Views: keys(), values(), items()

In [120]:
print(d)
d["age"] = 21
print(d)
print(d.get("city", "NA"))    # 'NA'

{'name': 'abhi', 'age': 20}
{'name': 'abhi', 'age': 21}
NA

## 3) Nesting

In [121]:
student = {
  "name":"A",
  "marks":{"math":90, "python":95}
}
student["marks"]["python"]   # 95

95

## 4) Sorting & typecasting
Sort dict by keys or by values using sorted()

In [122]:
a="LKDJFHASDFJHSAD"
sorted(a)

['A', 'A', 'D', 'D', 'D', 'F', 'F', 'H', 'H', 'J', 'J', 'K', 'L', 'S', 'S']

In [123]:
d = {"b":2, "a":5, "c":1}
print(sorted(d))
print(sorted(d.items()))               
print(sorted(d.items(), key=lambda x: x[1]))

['a', 'b', 'c']
[('a', 5), ('b', 2), ('c', 1)]
[('c', 1), ('b', 2), ('a', 5)]

## function
#
1) User-defined functions

In [124]:
def add(a, b):
    return a + b

## 2) Parameters
positional, keyword, default, variable-length

In [125]:
def f(a, b=10):
    return a+b

def g(*args):        
    return sum(args)

def h(**kwargs):     
    return kwargs

## 3) Documentation (docstring)

In [126]:
def area_circle(r):
    """Return area of circle for radius r."""
    return 3.14159 * r * r

In [127]:
area_circle.__doc__

'Return area of circle for radius r.'

In [128]:
sorted.__doc__

'Return a new list containing all items from the iterable in ascending order.\n\nA custom key function can be supplied to customize the sort order, and the\nreverse flag can be set to request the result in descending order.'

## 4) Scope
Local, Enclosing, Global, Built-in (LEGB)

In [129]:
x = 10
def foo():
    x = 5
    return x

In [130]:
x = 10
def foo():
    x = 5
    return x

## 5) Recursion
Function calls itself; must have base case.

In [131]:
def fact(n):
    if n == 0:
        return 1
    return n * fact(n-1)

In [132]:
print(fact(4))

24

## Advance function 
#
1) lambda

In [133]:
print(square(2))

NameError: name 'square' is not defined

In [ ]:
def square(x):
    return x*x

In [ ]:
l =[1,2,3,4]

In [ ]:
def square(x):
    return x*x
new_list =[]
for each in l:
    new_list.append(square(each))

In [ ]:
[x*x for x in l]
list(map(lambda x : x*x, l))

In [ ]:
# A simple function to square a number
def square(number):
    return number * number

numbers = [1, 2, 3, 4, 5]

# Map the custom square function to the list
squared_numbers = map(square, numbers)

print(list(squared_numbers))
# Output: [1, 4, 9, 16, 25]