## 1 Python Installation and Starting with Python

1 Python Installation

2 Go to python.org

3 Download Python 3.x

4 Install it (✔ check Add Python to PATH)

5 After installation, open IDLE (Python GUI)

## 2 Write Python programs to print strings in the given manner:

# a) Hello Everyone !!!

In [ ]:
print("Hello Everyone !!!")

Hello Everyone !!!

# b)Hello

In [ ]:
print("Hello")
print("World")

Hello
World

# c) Hello 
             World

In [ ]:
print("Hello")
print("      World")

Hello
      World

# d) 'Rohit’s date of birth is 12\05\1999'

In [ ]:
print("Rohit's date of birth is 12\\05\\1999")

Rohit's date of birth is 12\05\1999

## 3. Declare String Variable x

In [ ]:
x = "Hello"
print(x)

Hello

## 4. Different Data Types and Printing Values## 4.

In [ ]:
a = 10          
b = 5.5         
c = "Python"    
d = True        

print(a)
print(b)
print(c)
print(d)

10
5.5
Python
True

## 5. First Name + Last Name

In [ ]:
a = "Abhinesh"
b = "Kumar"

print(a + " " + b)

Abhinesh Kumar

## 6. First Name, Nickname, Last Name

In [ ]:
first_name = "abhinesh"
nickname = "kumar"
last_name = "singh"

print(first_name + " (" + nickname + ") " + last_name)

abhinesh (kumar) singh

## 7.

In [ ]:
name = "ABHINESH KUMAR"
sap_id = "590029100"
dob = "13 Oct 1999"
address1 = "UPES"
address2 = "Bidholi Campus"
pincode = "248007"
programme = "AI & ML"
semester = "2"

print("NAME:", name)
print("SAP ID:", sap_id)
print("DATE OF BIRTH:", dob)
print("ADDRESS:", address1)
print("        ", address2)
print("        Pincode:", pincode)
print("Programme:", programme)
print("Semester:", semester)

Abhinesh
20
Bca