### Experiment 4 â€“ Loops

## Q1) Factorial of a given number

In [37]:
num = 5
fact = 1

for i in range(1, num + 1):
    fact = fact * i

print("Factorial:", fact)

Factorial: 120

## Q2) Check Armstrong number

In [38]:
num = 153
temp = num
sum = 0

while temp > 0:
    digit = temp % 10
    sum = sum + digit**3
    temp = temp // 10

if sum == num:
    print("Armstrong number")
else:
    print("Not an Armstrong number")

Armstrong number

## Q3) Fibonacci series (first 5 terms)

In [39]:
n = 5
a = 0
b = 1

print(a)
print(b)

for i in range(2, n):
    c = a + b
    print(c)
    a = b
    b = c

0
1
1
2
3

## Q4) Check prime number

In [40]:
num = 7
flag = 0

for i in range(2, num):
    if num % i == 0:
        flag = 1
        break

if flag == 0:
    print("Prime number")
else:
    print("Not a prime number")

Prime number

## Q5) Check palindrome number

In [41]:
num = 121
temp = num
rev = 0

while temp > 0:
    digit = temp % 10
    rev = rev * 10 + digit
    temp = temp // 10

if rev == num:
    print("Palindrome")
else:
    print("Not Palindrome")

Palindrome

## Q6) Sum of digits

In [42]:
num = 1234
sum = 0

while num > 0:
    digit = num % 10
    sum = sum + digit
    num = num // 10

print("Sum of digits:", sum)

Sum of digits: 10

## Q7) Numbers divisible by 5 or 7 (1 to 100)

In [43]:
count = 0

for i in range(1, 101):
    if i % 5 == 0 or i % 7 == 0:
        print(i)
        count = count + 1

print("Count:", count)

5
7
10
14
15
20
21
25
28
30
35
40
42
45
49
50
55
56
60
63
65
70
75
77
80
84
85
90
91
95
98
100
Count: 32

## Q8) Convert lowercase to uppercase

In [44]:
text = "python programming"

print(text.upper())

PYTHON PROGRAMMING

## Q9) Prime numbers between 1 and 100

In [45]:
for num in range(2, 101):
    prime = True
    for i in range(2, num):
        if num % i == 0:
            prime = False
            break
    if prime:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

## Q10) Table of a given number

In [46]:
num = 5

for i in range(1, 11):
    print(num, "*", i, "=", num * i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50