### Experiment 6: Lists, tuples, dictionary

## 1) Scan n values in range 0–3 and count occurrences

In [16]:
values = [0, 1, 2, 3, 2, 1, 0, 3, 3, 2]

count = {0: 0, 1: 0, 2: 0, 3: 0}

for v in values:
    if v in count:
        count[v] += 1

print("Values:", values)
for k in count:
    print(f"{k} occurred {count[k]} times")

Values: [0, 1, 2, 3, 2, 1, 0, 3, 3, 2]
0 occurred 2 times
1 occurred 2 times
2 occurred 3 times
3 occurred 3 times

## 2) Create a tuple and find the average##

In [17]:
nums = (10, 20, 30, 40, 50)

total = sum(nums)
average = total / len(nums)

print("Tuple:", nums)
print("Average:", average)

Tuple: (10, 20, 30, 40, 50)
Average: 30.0

## 3) Find the runner-up score

In [18]:
scores = [2, 3, 6, 6, 5]

unique_scores = list(set(scores))
unique_scores.sort(reverse=True)

runner_up = unique_scores[1]

print("Scores:", scores)
print("Runner-up score:", runner_up)

Scores: [2, 3, 6, 6, 5]
Runner-up score: 5

## 4) Dictionary of persons (Name → City)

In [19]:
students = {
    "Rahul": "Delhi",
    "Anita": "Mumbai",
    "Suresh": "Delhi",
    "Priya": "Chennai"
}

print("Names:")
for name in students.keys():
     print(name)
print("\nCities:")
for city in students.values():
    print(city)
print("\nStudent Details:")
for name, city in students.items():
    print(name, "-", city)
city_count = {}
for city in students.values():
    city_count[city] = city_count.get(city, 0) + 1
print("\nStudents per city:")
for city in city_count:
    print(city, ":", city_count[city])

Names:
Rahul
Anita
Suresh
Priya

Cities:
Delhi
Mumbai
Delhi
Chennai

Student Details:
Rahul - Delhi
Anita - Mumbai
Suresh - Delhi
Priya - Chennai

Students per city:
Delhi : 2
Mumbai : 1
Chennai : 1

## 5) Movie details using dictionary

In [20]:
movies = {
    "Movie1": {
        "name": "Inception",
        "year": 2010,
        "director": "Christopher Nolan",
        "cost": 160,
        "collection": 830
    },
    "Movie2": {
        "name": "Interstellar",
        "year": 2014,
        "director": "Christopher Nolan",
        "cost": 165,
        "collection": 700
    },
    "Movie3": {
        "name": "Avatar",
        "year": 2009,
        "director": "James Cameron",
        "cost": 237,
        "collection": 2847
    }
}

# a) Print all movie details
print("All Movie Details:")
for m in movies.values():
    print(m)

# b) Movies released before 2015
print("\nMovies released before 2015:")
for m in movies.values():
    if m["year"] < 2015:
        print(m["name"])

# c) Movies that made profit
print("\nProfitable Movies:")
for m in movies.values():
    if m["collection"] > m["cost"]:
        print(m["name"])

# d) Movies by a particular director
director_name = "Christopher Nolan"
print(f"\nMovies directed by {director_name}:")
for m in movies.values():
    if m["director"] == director_name:
        print(m["name"])

All Movie Details:
{'name': 'Inception', 'year': 2010, 'director': 'Christopher Nolan', 'cost': 160, 'collection': 830}
{'name': 'Interstellar', 'year': 2014, 'director': 'Christopher Nolan', 'cost': 165, 'collection': 700}
{'name': 'Avatar', 'year': 2009, 'director': 'James Cameron', 'cost': 237, 'collection': 2847}

Movies released before 2015:
Inception
Interstellar
Avatar

Profitable Movies:
Inception
Interstellar
Avatar

Movies directed by Christopher Nolan:
Inception
Interstellar